.navBox{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.845);
}


.navBar{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    padding: 1.5% 0 1.5% 0;
    position: fixed;
    background-color: black ;
    top: 0;
    z-index: 2;
}

.title{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.titleText{
    font-size: 1.8rem;
    color: rgba(245, 245, 245, 0.887);
}

#navButtons{
    width: 40%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    gap: 20px;
}

#navButtons a{
    background: none;
    color: whitesmoke;
    border: none;
}
#navButtons button{
    border: 1px whitesmoke solid;
   border-radius: 15px;
   padding: 6px 20px 6px 20px;
   background: none;
   color: whitesmoke;
}
#navButtons button:hover{
    color: rgba(255, 255, 0, 0.865);
    border: 1px rgba(255, 255, 0, 0.865) solid;
    transition: 0.6s;
}

#navButtons a:hover{
    color: rgba(255, 255, 0, 0.865);
    transition: 0.6s;
}


.contentBox{
    width: 80%;
    height: 90%;
    display: flex;
    margin-top: 20px;
}

.contentLeft{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 70px;
}

.containerLeftButtons {
   width: 100%;
   margin-top: 50px;
}

.containerLeftButtons a{
    border: 1px whitesmoke solid;
    color: black;
    border-radius: 15px;
    padding: 6px 20px 6px 20px;
    background: whitesmoke;
    font-weight: 700;
 }
 .containerLeftButtons a:hover{
    background: rgba(255, 255, 0, 0.865);
    border: 1px rgba(255, 255, 0, 0.865) solid;
    transition: 0.6s;
 }

.contentLeft h1{
    font-size: 3rem;
    margin-bottom: 15px;
}
.contentLeft p{
    text-indent: 1.5em; 
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.572)
}

.contentRight{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerImg{
    height: 85%;
    width: 70%;
    min-width: 280px;
    border-radius: 100% 100% 0 0;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 0;
    max-width: 400px;
}

.decoration{
    height: 45%;
    width: 28%;
    min-width: 280px;
    border-radius: 100% 100% 0 0;
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    border: 1px solid white;
    margin-bottom: 52px;
    margin-right: 32px ;
    z-index: 0;
    max-width: 400px;
}

.modal{
    display: none;
}


@media screen and (max-width: 750px){
    .navBox{
        background-image: url('https://i.pinimg.com/564x/73/37/06/733706aea11fb0e94bfe87ff45b46e99.jpg');
        background-size: cover;
        opacity: 0.9;
    }

    .contentRight{
        display: none;
    }
    .contentLeft{
        width: 100%;
    }

    .contentBox{
        display: flex;
    }

    .contentLeft h1{
        color: rgb(204, 37, 3);
    }
    .contentLeft p{
        text-indent: 1.5em; 
        margin-bottom: 5px;
        color: black;
        font-weight: 700;
        background-color: antiquewhite;
    }

    #navButtons{
        display: none;
    }

    .title{
        width: 80%;
    }

    .modal{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 6%;
        right: 10%;
        background-color: black;
        width: 30%;
    }

    .menu{
        position: fixed;
        top: 1%;
        right: 10%;
        background-color: rgba(245, 245, 245, 0.887);
        padding: 5px;
        border-radius: 20%;
        cursor: pointer;
    }

    .modal a{
        background: none;
        color: whitesmoke;
        border: none;
        margin-bottom: 5px;
        margin-left: 5px;
        border-bottom: 1px whitesmoke solid;
    }

    .modal a:hover{
        color: rgba(255, 255, 0, 0.865);
        transition: 0.6s;
    }

    .off{
        display: none;
    }
}